*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(smurfs.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 10px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    background-color: transparent;
    color: White;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}


.main-nav li a:hover
{
    border: none;
    background-color: darkorange;
    transition: all 0.5s ease-in;
}

.hero
{
    margin-top: 10px;
    color: white;
    position: center;
    width: 1200px;
    float: left;
}

.main-nav li button
{   
    border: none;
    background-color: transparent;
    color: White;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}

.main-nav li button:hover
{
    border: none;
    background-color: darkorange;
    transition: all 0.5s ease-in;
}